<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Raytracer</title>
    </head>

    <body>
        <form action="/login" method="post">
            <div>
                <input autocomplete="off" autofocus name="width" placeholder="Image width" type="text">
            </div>
            <div>
                <input name="height" placeholder="Image height" type="text">
            </div>
            <button type="submit">Generate Raytraced Image</button>
        </form>
    </body>

</html>

